<%- include("header") -%>

<h2>This is the about page</h2>

<p>ged eie oiewhikeg iehqhohwhqhi ihweuhfwiioht r eh hrioh hroihihiha   ;qe;gug q guqgw qggurf w wugi twiwegoifgwioh e </p>


<%- include("footer") -%>